
<form #f="ngForm">
  <div>
    <span>Patient Information</span>
  </div>
  <div class="form-row">
    <div class="col-md-4">
      <label for="firstName" class="required">First Name</label>
      <input [(ngModel)]="formData.referralPatient.firstName" (ngModelChange)="formData.referralPatient.firstName = $event" name="firstName" id="firstName" class="form-control" required>
    </div>
    <div class="col-md-4">
      <label for="lastName" class="required">Last Name</label>
      <input [(ngModel)]="formData.referralPatient.lastName" (ngModelChange)="formData.referralPatient.lastName = $event" name="lastName" id="lastName" class="form-control" required>
      <span style="color: red" *ngIf="formData.referralPatient.lastName === ''">Name is required. </span>
    </div>
  </div>
  <button type="submit" class="form-control" (click)="validateForm()">Submit</button>
</form>
